#searchButton, #load {
  display: block;
  margin: 0 auto;
  color: black;
  background: gold; }

#searchButton:hover, #load:hover {
  background: lime;
  transform: scale(1.2); }

#search {
  width: 100%;
  height: 100%; }
  #search input {
    font-size: 1.5rem;
    width: 100%;
    background: url("../search-assets/search.png") no-repeat right;
    background-size: 8%;
    background-color: lightgray;
    box-sizing: border-box;
    border: none; }
    @media (min-width: 320px) and (max-width: 700px) {
      #search input {
        font-size: 0.7rem;
        background-size: .8rem; } }

#searchLabel {
  display: inline-block;
  box-sizing: border-box;
  margin-top: 50%;
  padding: 0.2em;
  background: gold;
  color: black;
  font-family: "Arial Rounded MT Bold", Arial, serif;
  font-size: 0.875rem; }
  @media (min-width: 320px) and (max-width: 700px) {
    #searchLabel {
      font-size: 0.7rem;
      margin-top: 10%; } }

#searchButton {
  font-size: 1rem;
  margin-top: 1rem;
  transition: ease-in 0.50s; }

#load {
  margin-bottom: 1rem;
  height: 2rem;
  width: 7rem;
  font-size: large;
  display: none;
  transition: ease-in 0.50s; }

#results {
  margin: 0 auto;
  width: 75%; }
  @media (min-width: 320px) and (max-width: 700px) {
    #results {
      width: 95%; } }
  @media (min-width: 701px) and (max-width: 1159px) {
    #results {
      width: 95%; } }
  #results h3 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: black;
    font-family: "Arial Rounded MT Bold", Arial, serif;
    font-size: 14px; }
    @media (min-width: 320px) and (max-width: 700px) {
      #results h3 {
        font-size: 0.5rem; } }

img {
  height: 20rem;
  width: 100%; }
  @media (min-width: 320px) and (max-width: 700px) {
    img {
      height: 7rem; } }

#comicList {
  display: flex;
  align-content: flex-start;
  width: 95%;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
  margin: 0 auto;
  border: 1px solid yellow; }
  #comicList li {
    margin: .8rem; }

div {
  clear: both;
  margin: 0 auto;
  width: 25%; }
  @media (min-width: 320px) and (max-width: 700px) {
    div {
      width: 60%; } }
  div p {
    margin: 0; }

nav {
  overflow: auto; }
  nav input {
    display: none; }
  nav label {
    display: none; }
    @media (min-width: 320px) and (max-width: 700px) {
      nav label {
        float: right;
        display: block;
        margin: 0 5% 0 0; } }
  nav ul {
    display: flex;
    align-content: flex-end;
    width: 20%;
    padding: 0.5rem;
    list-style: none;
    margin-right: 1rem;
    font-family: "Arial Rounded MT Bold", Arial, serif;
    background: rgba(0, 0, 0, 0.7);
    justify-content: space-between;
    float: right; }
    @media (min-width: 320px) and (max-width: 700px) {
      nav ul {
        display: none;
        font-size: 0.7rem; } }
    @media (min-width: 701px) and (max-width: 1159px) {
      nav ul {
        font-size: 0.8rem; } }
    nav ul a {
      text-decoration: none; }

@media (min-width: 320px) and (max-width: 700px) {
  #toggle:checked + #links {
    display: block; } }

body {
  background-color: #e23636;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%; }

.comicItem {
  width: 30%;
  background: gold;
  height: 25rem;
  margin: 1rem; }
  @media (min-width: 320px) and (max-width: 700px) {
    .comicItem {
      height: 15rem;
      width: 25%; } }

header {
  background: url("../search-assets/header.png") no-repeat;
  background-size: 100%;
  overflow: auto;
  transition: linear 1s 1s;
  height: 35rem; }
  @media (min-width: 320px) and (max-width: 700px) {
    header {
      height: 13rem; } }
  @media (min-width: 701px) and (max-width: 1159px) {
    header {
      height: 20rem; } }

#logo {
  background: url("../search-assets/marvel_logo.jpg") no-repeat;
  height: 5rem;
  float: left;
  background-size: 100%;
  width: 10%;
  margin: 1%; }
  @media (min-width: 320px) and (max-width: 700px) {
    #logo {
      width: 20%; } }

footer {
  background: black;
  color: gold;
  text-align: center;
  padding: 0;
  margin: 0; }
  footer p {
    display: inline-block; }

a {
  text-decoration: none;
  color: gold; }
