//container for comicList
#results {
  margin: $margin;
  width: 75%;
   p {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: $font-color;
    font-family: $font;
    font-size: $font-size;
  }
}

img {
  height: 20rem;
  width: 100%;
}

//list of comics from API
#comicList {
  @include content(flex, flex-start, 95%, 0, none);
  flex-wrap: wrap;
  margin: $margin;
}


div {
  clear: both;
  margin: $margin;
  width: 25%;

  p{
    margin: 0;
  }
}

nav {
overflow: auto;

  ul {
    @include content(flex, flex-end, 20%, 0.5rem, none);
    margin-right: 1rem;
    font-family: $font;
    background: rgba(0, 0, 0, 0.7);
    justify-content: space-between;
    float: right;

    a {
      text-decoration: none;
    }

  }

}

