#results {

  @extend %center;
  width: 75%;



   p {
    @include mix(small){
      font-size: 0.5rem;
    }
    @include mix(medium){
      font-size: 1rem;
    }
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: $font-color;
    font-family: $font;
    font-size: $font-size;
  }
}

img {
    @include mix(small){


    }
    @include mix(medium){

    }
  height: 20rem;
  width: 100%;

}

#comicList {
  @include mix(small){

  }
  @include mix(medium){

  }

  list-style: none;
  display: flex;
  flex-wrap: wrap;
  height: 200rem;
  width: 90%;
  margin: 0 auto;
  padding: 0;


}


div {
  margin: 0 auto;

  @include mix(small){
    width: 50%;


  }
  @include mix(medium){
    width: 25%;

  }


  p{
    margin: 0;
  }
}

nav ul {
  margin-right: 1rem;
  font-family: $font;
  float: right;
  padding: 0.5rem;
  width:20%;
  background: rgba(0,0,0,0.7);
  list-style: none;
  display: flex;
  justify-content: space-between;
  color: gold;
}

#navbar p {
  @include mix(small){

    display: none;
  }
  @include mix(medium){

    display: flex;
  }
  @include mix(large){

    display: flex;
  }
}

