//HTML global elements

body {
  background-color: #e23636;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

//Each list item in comicList ul
.comicItem {
  width: 30%;
  background: gold;
  height: 25rem;
  margin: 1rem;
}

header {
  background: url("../search-assets/header.png") no-repeat;
  background-size: 100%;
  height: 55rem;
  overflow: auto;
  transition: linear 1s 1s;
}

#logo {
  background: url("../search-assets/marvel_logo.jpg") no-repeat;
  height: 5rem;
  float: left;
  background-size: 100%;
  width: 10%;
  margin: 1%;

}

footer{
  background: black;
  color: gold;
  text-align: center;
  padding: 0;
  margin: 0;

  p{
    display: inline-block;
  }
}

a {
  text-decoration: none;
  color: gold;
}
