body {
  background-color: #e23636;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-y: hidden;

}

.comicItem {
  @include mix(small){



  }
  @include mix(medium){

  }

  width: 30%;
  background: gold;
  height: 25rem;
  margin: 1rem;


}

header {
  @include mix(small){

  }
  @include mix(medium){

  }
  @include mix(large){

  }
  background: url('https://i.kinja-img.com/gawker-media/image/upload/s--z47HzOLz--/c_scale,f_auto,fl_progressive,q_80,w_800/d0fm2fcd0gq7isdrtocd.png') no-repeat;
  background-size: 100%;
  height: 55rem;
  overflow: auto;
  transition: linear 1s 1s;

}

#logo {
  background: url(http://thetechnews.com/wp-content/uploads/2018/03/x2_The-latest-Marvel-logo.jpg.pagespeed.ic.wAxY5I9Npl.jpg) no-repeat;
 height: 5rem;
  float: left;
  background-size: 100%;
  width: 10%;
  margin-left: 5%;

}
